{
  "Version": "2012-10-17",
  "Statement": [
    {
       "Sid": "InvokeLambdas",
       "Effect":"Allow",
       "Action":"lambda:InvokeFunction",
       "Resource":[
         "arn:aws:lambda:${region}:${account_id}:function:${org}-${bag}-${sid}-${short_region}-${env}*${app}*:*"
       ]
    }
  ]
}
